<!DOCTYPE html>
<html ng-app="BoardApp">
    <head>
        <meta name=viewport content='width=500'>

        <link rel="stylesheet" type="text/css" href="/binary/css/mainBoard.css">
        <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
        <script src="/binary/js/mainBoard.js"></script>

        <!-- Above viewport node just to tell cellphones what the preferred size is -->
    </head>
    <body ng-controller="BoardCtrl">
        <div id="board_header">
            <span id="left">Kanban</span>
            <span id="right">Board</span>
        </div>
        <div id="board_body">
            <div ng-repeat="columnName in taskColumns.Columns" class="task_column">
                <div class="column_header">
                    <span>{{columnName}}</span>
                </div>
                <div class="column_body">
                    <div ng-repeat="task in getTasksByColumnName(columnName)" class="task">
                        <div class="task_title">{{task["task-title"]}}</div>
                        <div class="task_body">{{task["task-body"]}}</div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
