html {
     overflow: -moz-scrollbars-vertical;
     overflow: scroll;
} /*The get the scroll bar to always display*/

body{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

#board_header {
    font-size: 56px;

    text-align: center;

    height: 100px;
    margin-top: 20px;
}

#board_header #left {
    float: left;
    margin-left: 20px;
}

#boardLogo{
    text-align: center;
}

#board_header #right {
    float: right;
    margin-right: 20px;
}

.menubar{
    font-size: 20px;
    margin-top: 15px;
}

.menubar > * { /* All the children of menubar */
    border: 2px solid black;
    padding: 5px 5px 5px 5px;
}

.editButton:active{
    color: white;
    background-color: black;
}

.editButton{
    opacity: 1;
}

.editButton.ng-hide-remove {
    transition: all 0.5s linear;
}

.editButton.ng-hide{
    opacity: 0;
}

#editColumnsButton{
    border-radius: 10px;
}

#addColumnButton{
    margin-right: -3px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#doneEditingButton{
    margin-left: -3px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.task_column {
    /*width: 330px;*/
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border-top : 5px solid #6699FF;
}

.column_header {
    text-align: left;
    font-size: 30px;
}

.column-collapse-button{
    text-align: right;
    float: right;
}

.column_body{
    opacity: 1;
}

.column_body.ng-hide-add, .column_body.ng-hide-remove {
    transition: all 0.5s linear;
}

.column_body.ng-hide{
    opacity: 0;
}

.task {
    width: 400px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid gray;
    border-radius: 5px;
    align-self: center;
}

.task_title {
    background-color: #EBEBEB;
    padding-left: 5px;
    font-size: 23px;
}

.task_body{
    margin-left: 20px;
}
