body{
    font-family: 'Lato', sans-serif;
    font-size: 23px;
}

#board_header {
    font-size: 70px;

    text-align: center;

    height: 100px;
    margin-top: 20px;
}

#board_header #left {
    float: left;
    margin-left: 20px;
}

#board_header #right {
    float: right;
    margin-right: 20px;
}

.task {
    width: 400px;
    padding: 10px;
    margin: 20px;
    border: 1px solid gray;
}

.task_body{
    font-size: 20px;
    margin-left: 20px;
}

.column_header {
    text-align: center;
    font-size: 30px;
}

.task_column {
    /*width: 330px;*/
    margin-top: 20px;
    padding: 10px;
    border-top : 5px solid #6699FF;
    margin: 0;
}
